<!DOCTYPE html>
<html>
<head>
    <title>Meu Site</title>
    <style>
        body {
            display: flex;
        }

        .menu {
            width: 200px;
            background-color: #f1f1f1;
        }

        .menu ul {
            list-style-type: none;
            padding: 0;
        }

        .menu li {
            padding: 10px;
        }

        .content {
            flex: 1;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/login">Fazer Login</a></li>
            <li><a href="/cadastrar">Cadastrar</a></li>
            <li><a href="/consultar">Consultar</a></li>
            <li><a href="/atualizar">Atualizar</a></li>
            <li><a href="/excluir">Excluir</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
        </ul>
    </div>
    <div class="content">
      <h1>Cadastro de Usuário</h1>
      <form method="POST" action="/cadastrar">
        <div class="form-group">
          <label for="usuario">Usuário:</label>
          <input type="text" id="usuario" name="usuario" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="nome_completo">Nome Completo:</label>
          <input type="text" id="nome_completo" name="nome_completo" required>
        </div>
        <div class="form-group">
          <input type="submit" value="Cadastrar">
        </div>
      </form>
    </div>
</body>
</html>




  